doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        title JADEテスト
    body
        h1 Sample
        p.code sample code
        pre.
            function hello() {
                console.log('hello');
            }
